In [1]:
import os
import sys

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings(action='ignore')

print(os.getcwd())
os.chdir("C:/Users/junio/OneDrive/바탕 화면/dash_v2/may")
path = os.getcwd()
print(os.getcwd())

c:\Users\junio\OneDrive\바탕 화면\dash_v2\may\0523
C:\Users\junio\OneDrive\바탕 화면\dash_v2\may

In [2]:
def load_data():
    customer = pd.read_csv("./Customer_info.csv")
    discount = pd.read_csv("./Discount_info.csv")
    marketing = pd.read_csv("./Marketing_info.csv")
    onlinesales = pd.read_csv("./Onlinesales_info.csv")
    tax = pd.read_csv("./Tax_info.csv")
    return customer, discount, marketing, onlinesales, tax

In [3]:
customer, discount, marketing, onlinesales, tax = load_data()

In [4]:
customer.head() # 가입기간은 1월 기준임.

        고객ID 성별        고객지역  가입기간
0  USER_1358  남     Chicago    12
1  USER_0190  남  California    43
2  USER_0066  남     Chicago    33
3  USER_0345  여  California    30
4  USER_0683  남  California    49

In [5]:
discount.head()

     월    제품카테고리    쿠폰코드  할인율
0  Jan   Apparel  SALE10   10
1  Feb   Apparel  SALE20   20
2  Mar   Apparel  SALE30   30
3  Jan  Nest-USA  ELEC10   10
4  Feb  Nest-USA  ELEC20   20

In [6]:
marketing.head()

           날짜  오프라인비용    온라인비용
0  2019-01-01    4500  2424.50
1  2019-01-02    4500  3480.36
2  2019-01-03    4500  1576.38
3  2019-01-04    4500  2928.55
4  2019-01-05    4500  4055.30

In [7]:
onlinesales.head()

,고객ID,거래ID,거래날짜,제품ID,제품카테고리,수량,평균금액,배송료,쿠폰상태
0,USER_1358,Transaction_0000,2019-01-01,Product_0981,Nest-USA,1,153.71,6.5,Used
1,USER_1358,Transaction_0001,2019-01-01,Product_0981,Nest-USA,1,153.71,6.5,Used
2,USER_1358,Transaction_0002,2019-01-01,Product_0904,Office,1,2.05,6.5,Used
3,USER_1358,Transaction_0003,2019-01-01,Product_0203,Apparel,5,17.53,6.5,Not Used
4,USER_1358,Transaction_0003,2019-01-01,Product_0848,Bags,1,16.50,6.5,Used

In [8]:
tax.head()

      제품카테고리   GST
0   Nest-USA  0.10
1     Office  0.10
2    Apparel  0.18
3       Bags  0.18
4  Drinkware  0.18

In [9]:
def merge_data(customer, discount, marketing, onlinesales, tax):
  month_mapping = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6,
                  'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}
  discount["월"] = discount['월'].map(month_mapping)
  onlinesales['거래날짜'] = pd.to_datetime(onlinesales['거래날짜'])
  onlinesales['월'] = onlinesales['거래날짜'].dt.month
  # marketing.columns = ["거래날짜", "오프라인비용", "온라인비용"]
  # marketing["거래날짜"] = pd.to_datetime(marketing["거래날짜"])

  df = pd.merge(onlinesales, customer, on='고객ID', how='left')
  df = pd.merge(df, discount, on=['월', '제품카테고리'], how='left')
  df = pd.merge(df, tax, on='제품카테고리', how='left')
  # df = pd.merge(df, marketing, on = '거래날짜', how = 'left')

  df['쿠폰코드'].fillna('unknown', inplace=True)
  df['할인율'].fillna(0, inplace=True)

  df["가입기간"] = df["가입기간"] + (df["월"] - 1)
  df["가입기간"] = df["가입기간"].astype(int) # dt type 이 포함되어있으므로

  return df, marketing

In [10]:
df, _ = merge_data(customer, discount, marketing, onlinesales, tax)

In [11]:
df.head()

,고객ID,거래ID,거래날짜,제품ID,제품카테고리,수량,평균금액,배송료,쿠폰상태,월,성별,고객지역,가입기간,쿠폰코드,할인율,GST
0,USER_1358,Transaction_0000,2019-01-01,Product_0981,Nest-USA,1,153.71,6.5,Used,1,남,Chicago,12,ELEC10,10.0,0.10
1,USER_1358,Transaction_0001,2019-01-01,Product_0981,Nest-USA,1,153.71,6.5,Used,1,남,Chicago,12,ELEC10,10.0,0.10
2,USER_1358,Transaction_0002,2019-01-01,Product_0904,Office,1,2.05,6.5,Used,1,남,Chicago,12,OFF10,10.0,0.10
3,USER_1358,Transaction_0003,2019-01-01,Product_0203,Apparel,5,17.53,6.5,Not Used,1,남,Chicago,12,SALE10,10.0,0.18
4,USER_1358,Transaction_0003,2019-01-01,Product_0848,Bags,1,16.50,6.5,Used,1,남,Chicago,12,AIO10,10.0,0.18

In [12]:
df.reset_index(inplace = True)

In [28]:
df.rename(columns = {"index":"IND"}, inplace = True)
df.head()

,IND,고객ID,거래ID,거래날짜,제품ID,제품카테고리,수량,평균금액,배송료,쿠폰상태,월,성별,고객지역,가입기간,쿠폰코드,할인율,GST
0,0,USER_1358,Transaction_0000,2019-01-01,Product_0981,Nest-USA,1,153.71,6.5,Used,1,남,Chicago,12,ELEC10,10.0,0.10
1,1,USER_1358,Transaction_0001,2019-01-01,Product_0981,Nest-USA,1,153.71,6.5,Used,1,남,Chicago,12,ELEC10,10.0,0.10
2,2,USER_1358,Transaction_0002,2019-01-01,Product_0904,Office,1,2.05,6.5,Used,1,남,Chicago,12,OFF10,10.0,0.10
3,3,USER_1358,Transaction_0003,2019-01-01,Product_0203,Apparel,5,17.53,6.5,Not Used,1,남,Chicago,12,SALE10,10.0,0.18
4,4,USER_1358,Transaction_0003,2019-01-01,Product_0848,Bags,1,16.50,6.5,Used,1,남,Chicago,12,AIO10,10.0,0.18

In [13]:
train_only = df.iloc[:df[df["월"] == 9].index[0],:] # 1 ~ 8
train = df.iloc[: df[df["월"] == 11].index[0],:] # 1 ~ 10
val = df.iloc[df[df["월"] == 9].index[0]: df[df["월"] == 11].index[0],:] # 9 ~ 10
test = df.iloc[df[df["월"] == 11].index[0]:,:] # 11 ~ 12

In [14]:
train.to_csv("train.csv", index=False)
val.to_csv("val.csv", index=False)
test.to_csv("test.csv", index=False)

In [15]:
!pip install schedule

Requirement already satisfied: schedule in c:\users\junio\anaconda3\envs\mlops.proj\lib\site-packages (1.2.1)

In [23]:
import sqlite3
import schedule
import time

test_db = "TEST.DB"
train_db = "TRAIN.DB"

def csv2db():
  train_df = pd.read_csv("train.csv")
  test_df = pd.read_csv("test.csv")

  train_conn = sqlite3.connect(train_db)
  test_conn = sqlite3.connect(test_db)

  train_df.to_sql("train_table", train_conn, if_exists="replace", index=False)
  test_df.to_sql("test_table", test_conn, if_exists="replace", index=False)

  print("csv to db")
  train_conn.commit()
  test_conn.commit()
  train_conn.close()
  test_conn.close()

def shoot_row():
  train_conn = sqlite3.connect(train_db)
  test_conn = sqlite3.connect(test_db)

  try:
    train_cur = train_conn.cursor()
    test_cur = test_conn.cursor()

    # Get the maximum ID from train_table
    train_cur.execute("SELECT MAX(index) FROM train_table")
    last_index = train_cur.fetchone()[0]

    next_index = last_index + 1
    test_cur.execute(f"SELECT * FROM test_table WHERE index = {next_index}")
    row = test_cur.fetchone()

    if row:
      col_names = [description[0] for description in test_cur.description]
      placeholders = ', '.join(['?'] * len(col_names))
      train_cur.execute(f"INSERT INTO train_table ({', '.join(col_names)}) VALUES ({placeholders})", row)
      train_conn.commit()
      print(f"Row transferred from TEST.DB to TRAIN.DB successfully.")
  # except sqlite3.Error as e:
  #   print(f"An Error Occurred: {e}")

  finally:
    train_conn.close()
    test_conn.close()

def main():
  csv2db()
  schedule.every(2).seconds.do(shoot_row)

  while True:
    schedule.run_pending()
    time.sleep(1)


# if __name__ == "__main__":
#   main()

In [24]:

conn = sqlite3.connect("TRAIN.DB")
cursor = conn.cursor()
cursor.execute("PRAGMA table_info(train_table)")
columns = cursor.fetchall()

columns

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, '고객ID', 'TEXT', 0, None, 0),
 (2, '거래ID', 'TEXT', 0, None, 0),
 (3, '거래날짜', 'TEXT', 0, None, 0),
 (4, '제품ID', 'TEXT', 0, None, 0),
 (5, '제품카테고리', 'TEXT', 0, None, 0),
 (6, '수량', 'INTEGER', 0, None, 0),
 (7, '평균금액', 'REAL', 0, None, 0),
 (8, '배송료', 'REAL', 0, None, 0),
 (9, '쿠폰상태', 'TEXT', 0, None, 0),
 (10, '월', 'INTEGER', 0, None, 0),
 (11, '성별', 'TEXT', 0, None, 0),
 (12, '고객지역', 'TEXT', 0, None, 0),
 (13, '가입기간', 'INTEGER', 0, None, 0),
 (14, '쿠폰코드', 'TEXT', 0, None, 0),
 (15, '할인율', 'REAL', 0, None, 0),
 (16, 'GST', 'REAL', 0, None, 0)]

In [25]:
main()

csv to db

OperationalError: near "index": syntax error